section#skills {
  background-color: $bg-color;
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $text-color;
    margin-top: 20px;
  }
  .col-left {
    position: relative;
    width: 45%;
  }
  .content-title {
    margin-bottom: 20px;
  }
  .col-right {
    position: relative;
    width: 45%;
  }
  .bar {
    margin-bottom: 15px;
    padding: 10px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .info span {
    font-size: 18px;
    font-weight: 500;
  }
  .line {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 2px;
  }
  .line::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
  }
  .html::before {
    width: 90%;
    background-color: #e45126;
  }
  .css::before {
    width: 85%;
    background-color: #0c73b8;
  }
  .bootstrap::before {
    width: 75%;
    background-color: #563d7c;
  }
  .tailwind::before {
    width: 68%;
    background-color: #3490dc;
  }
  .type::before {
    width: 50%;
    background-color: #007acc;
  }
  .java::before {
    width: 80%;
    background-color: #f0db4f;
  }
  .react::before {
    width: 75%;
    background-color: #61dbfb;
  }
  .redux::before {
    width: 60%;
    background-color: #764abc;
  }
}
